.Home_input {
	width: 314px;
	min-height: 46px;
	padding-left: 30px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: #ffffff;

	input {
		border: none;
		border-radius: inherit;
		width: 100%;
		height: 46px;
		vertical-align: middle;
		&:focus {
			outline: none;
		}
	}

	img {
		height: 11px;
		width: 11px;
		padding-right: 10px;
		color: #1b2559;
	}
	img::placeholder {
		color: rgba(143, 155, 186, 1);
		width: 37px;
		height: 20px;
		padding-left: 20px;
	}
}
