.MediumChart {
	flex: 1 1 350px;
	max-width: calc(33.3% - 5px);
	min-height: 345px;
	border-radius: 20px;
	background: #ffffff;
	box-sizing: border-box;
}

@media (max-width: 900px) {
	.card {
		max-width: calc(50% - 5px);
		margin-bottom: 24px;
	}
}

@media (max-width: 400px) {
	.card {
		max-width: 100%;
		margin-bottom: 24px;
	}
}
