.label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #a3aed0;
}

.text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
}

.medium_text {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	color: #1b2559;
}

.transaction_title {
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
	padding-bottom: 12px;
	padding-top: 19px;
	padding-left: 28px;
}

.user_chart_text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
}

.user_chart_label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #a3aed0;
}

.colored_chart_label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #ffffff;
}

.colored_chart_text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #ffffff;
}

.small_label {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	color: #a3aed0;
}

.Home__header_subtitle {
	font-size: 14px;
	color: #707eae;
	font-weight: 700;
	line-height: 24px;
}

.Home__header_title {
	font-size: 34px;
	color: #2b3674;
	font-weight: 700;
	line-height: 42px;
}
