.Home {
	padding-left: 290px;
	width: auto;
	height: 100%;
}

.Home__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 24px 38px 0 38px;
}

.Home__header_small {
	font-size: 14px;
	color: #707eae;
	font-weight: 700;
	line-height: 24px;
}

.Home__header_title {
	font-size: 34px;
	color: #2b3674;
	font-weight: 700;
	line-height: 42px;
}

.chart_container {
	padding: 24px;
}

.Home_content {
	padding: 24px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.new_client {
	display: flex;
	flex-direction: row;
	// justify-content: space-evenly;
	align-items: center;
	gap: 24px;
	padding: 24px;
}

.new_client img {
	width: 56px;
	height: 56px;
}
