.Home {
	padding-left: 290px;
	width: calc(100% - 290px);
	height: 100%;
}

.Home__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 24px 38px 0 38px;
}

.Home__header_subtitle {
	font-size: 14px;
	color: #707eae;
	font-weight: 700;
	line-height: 24px;
}

.Home__header_title {
	font-size: 34px;
	color: #2b3674;
	font-weight: 700;
	line-height: 42px;
}
.Padding_container {
	padding: 24px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
	gap: 10px;
}

.new_client {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;

	img {
		width: 56px;
		height: 56px;
	}
}

.activity {
	background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
	min-width: 259px;
	min-height: 97px;
	border-radius: 20px;
}

.activity_container {
	display: flex;
	justify-content: space-between;
	flex: 1 1 259px;
	min-width: 259px;
	max-width: calc(25% - 5px);
	align-items: center;
	gap: 20px;
	padding: 15px 15px 10px 15px;
}

.spent_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 15px 15px 10px 15px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #a3aed0;
}

.small_label {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	color: #a3aed0;
}

.text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
}

.colored_chart_label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #ffffff;
}

.colored_chart_text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #ffffff;
}

.user_chart {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.avatar {
	width: 127.22px;
	height: 130.34px;
}

.user_chart_text {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
}

.location {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.user_chart_svg {
	width: 10.2px;
	height: 14.57px;
}

.user_chart_label {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #a3aed0;
}

.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}

.user_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.onTrack {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;

	img {
		width: 15px;
		height: 15px;
	}

	div {
		font-size: 16px;
		font-weight: 700;
		line-height: 28px;
		color: #05cd99;
	}
}

.percentage {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 24px 24px 0 0;

	img {
		width: 18px;
		height: 18px;
	}

	div {
		font-size: 12px;
		font-weight: 700;
		line-height: 20px;
		color: #05cd99;
	}
}

.track_chart {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 24px;
}

.transaction_title {
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	color: #1b2559;
	padding-bottom: 12px;
}

.medium_text {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	color: #1b2559;
}

.transaction {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
	padding-top: 15px;
	img {
		width: 48px;
		height: 48px;
	}
}

.back_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	padding-top: 30px;

	a {
		text-decoration: none;
		font-size: 16px;
		font-weight: 700;
		line-height: 28px;
		color: #4318ff;
		&:hover {
			cursor: pointer;
		}
	}

	img {
		width: 24px;
		height: 24px;
		color: #4318ff;
	}
}
.calendar {
	padding-top: 15px;
}

.calendar_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.new_client_chart {
	width: 58.5px;
	height: 38.5px;
	color: linear-gradient(73.48deg, #4f2cff -54.8%, rgba(79, 44, 255, 0) 96.19%);
}

.activity_chart {
	width: 100px;
	height: 45px;
	color: linear-gradient(73.48deg, #4f2cff -54.8%, rgba(79, 44, 255, 0) 96.19%);
}

.small_bar_chart {
	width: 33px;
	height: 33px;
	background: #f4f7fe;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.largeChart_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.largeChart_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.track_chart_graph {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
