.Sidebar {
	display: flex;
	flex-direction: column;
	width: 290px;
	height: 100%;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	z-index: 100;
}

.Sidebar__logo {
	width: 290px;
	height: 115px;
	border: 1px solid #f4f7fe;

	img {
		padding-top: 47px;
		padding-left: 38px;
		padding-bottom: 47px;
	}
}

.Sidebar__menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 24px 38px 0 38px;

	img {
		color: #a3aed0;
		width: 24px;
		height: 24px;
		&:hover {
			color: #ffffff;
		}
	}

	p {
		font-size: 16px;
		color: #a3aed0;
		font-weight: 500;
		line-height: 28px;
		&:hover {
			color: #ffffff;
			font-weight: 700;
		}
	}
}

.Sidebar__selected_item {
	width: 214px;
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 14px;
	padding-left: 10px;
	background: #4318ff;
	border-radius: 5px;

	p {
		font-size: 16px;
		color: #ffffff;
		font-weight: 700;
		line-height: 28px;
	}
}

.Sidebar__item {
	width: 214px;
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 14px;
	padding-left: 10px;
}

.Sidebar__item:hover {
	background: #4318ff;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 700;
	cursor: pointer;
}

.log_out {
	@extend .Sidebar__menu;
	margin-top: auto;
	padding-bottom: 24px;
}
